* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: grey;
}

#gridContainer {
    display: flex;
    align-items: center;
    flex: 0 1 800px;
    max-width: 100%;
    aspect-ratio: 1;
    /* background-color: yellow; */
}

#grid {
    display: flex;
    flex-direction: column;
    flex: 0 1 800px;
    aspect-ratio: 1;
    background-color: azure;
}